<samp ngClass="name" routerLink="/home"><mat-icon>home</mat-icon>Home</samp>
<samp ngClass="name"><mat-icon>dashboard</mat-icon>Dashboard</samp>
<ul>
    <li routerLink="/listing"><mat-icon>list</mat-icon>Listing</li>
    <li><mat-icon>location_city</mat-icon>Real Estate</li>
    <li><mat-icon>euro_symbol</mat-icon>Crypto</li>
    <li><mat-icon>device_hub</mat-icon>CRM</li>
</ul>

<!-- <span class="" >
    <select class="" >
    <option selected>Dashboard</option>
    <option value="1">Listing</option>
    <option value="2">Real Estate</option>
    <option value="3">Crypto</option>
    <option value="4">CRM</option>
  </select></span> -->